.table {
  display: inline;
  border-spacing: 20px 2px;
}

.roster {
  width: fit-content;
}

.th {
  background-color: rgba(128, 128, 128, 0.39);
  width: 300px;
  padding: 10px;
}

.td {
  padding: 10px;
  width: fill;
  display: flex;
  align-items: center;
}

.bustable {
  display: inline;
  border-spacing: 20px 10px;
}

.busth {
  width: 302px;
  background-color: rgba(0, 0, 255, 0.349);
  color: white;
  padding: 10px;
}
