.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 4px;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.dropdown-menu select {
  display: none;
}

.printButton {
  background-color: #c4c4c4;
  border: none;
  padding: 16px 20px;
  text-align: center;
  font-size: 16px;
}
